<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Filter By</ion-label>
    <ion-select [(ngModel)]="contactManager.searchType">
      <ion-select-option value="firstName">
        First Name
      </ion-select-option>
      <ion-select-option value="lastname">
        Last Name
      </ion-select-option>
      <ion-select-option value="phone">
        phone
      </ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
